<div class="wrapper">
  <div class="filter-cats">

    <mat-form-field>
      <mat-label>Breeds</mat-label>
      <mat-select placeholder="Choose your breed" [formControl]="breedsCats" multiple 
       [(value)]="selectedBreed"
        (selectionChange)="onBreedSelectChange()">
        <mat-option *ngFor="let breed of breeds" [value]="breed.id">
          {{ breed.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Amount</mat-label>
      <mat-select placeholder="Amount of breed" [formControl]="breedsCats" 
       [(value)]="defaultQuantityDisplayed"
        (selectionChange)="onDisplayedPicturesChange()">
        <mat-option *ngFor=" let amount of amountBreeds" [value]="amount.key">
          {{amount.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="image-cats">
    <div class="selected-breed" *ngIf="selectedBreed.length === 0">
      <p class="selected-breed__description">Your choosen cats.</p>
    </div>
    <img *ngFor="let image of imagesBreed" class="cat-image" [src]="image.url" alt="">
  </div>

</div>